@font-face {
    font-family: 'Pokemon';
    src: url('Pokemon Solid.ttf') format('truetype');
}

.card{

    box-sizing: border-box;
    background: linear-gradient(135deg, #0e1e38 0%, #0a1526 100%);
    border: 1px solid rgba(0, 58, 112, 0.5);
    padding: 2px;
    padding-top: 0px;
    border-radius: 20px; /*
    border-radius controla o quanto os cantos ficam arredondados - quanto maior o número,
    mais redondo
    */
    width: 320px;
    min-height: 420px;
    /*isso controla o tamanho do card*/

    /*adiciona sombra 4px pra direita, 4px pra baixo, com um borrao de 10px*/
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);

    /*display: flex; transforma a div numa "caixa flexivel". Os elementos de dentro
    passam a se organizar de forma mais previsível. flex-direction: column empilha
    verticalmente(um embaixo do outro). align-items: center centraliza tudo hori
    zontalmente automaticamente, sem precisar do truque de margin: 0 auto em cada
    elemento separado*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0 auto;
    position: relative;
    overflow: hidden;
}


.card h1{
    color: #FFCC00;
    font-family: 'Pokemon';
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 0 10px 0;
    -webkit-text-stroke: 1px #003A70;
}

body{
    background-color: #0a111f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 40px 20px;
    
}
/*Imagem: controlando o tamanho*/
img{
        width: 100%;
        height: auto;
        max-width: 300px;
        display: block;
        margin: 10px auto;
        /*margin: 0 auto é uma forma bem comum pra centralizar horizontalmente
        um elemento - o 0 é a margem em cima/baixo, e auto faz o navegador calcular automati
        camente margem igual dos dois lados, empurrando pro centro*/
        filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.3));/*sombra atras do pokemon*/
}
/*Texto:cor,tamanho, alinhamento*/
h1{
        color: #FFCC00;
        font-family: 'Pokemon';
        text-align: center;
        font-size: 32px;
        letter-spacing: 2px;
        -webkit-text-stroke: 1px #003A70; /* Espessura e cor do contorno */
        
}

.titulo{
    font-family: 'Pokemon';
    background: linear-gradient(to bottom, #FFCC00, #fffa00ef); /*o que eh isso*/
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 56px;
    text-align: center; 
    margin: 0 0 20px 0;
    letter-spacing: 3px;
    -webkit-text-stroke: 1.5px #003A70;
    
    filter: drop-shadow(2px 4px 0px rgba(0, 0, 0, 0.15));
    
}

.descricao{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    width: 90%; 
    text-align: center;
    margin: 0 auto 24px auto;
    color: #F8F9FA;
    line-height: 1.6;
}
.busca{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 20px;
    max-width: 550px;
    width: 90%;
    margin: 0 auto 24px auto;
}

.busca h1{
    font-size: 20px;
    letter-spacing: normal;
    color: #FFCC00;
    font-family: 'Segoe UI',sans-serif;
    -webkit-text-stroke: 0;
    margin-top: 0;
}

.card ol{
    width: 100%; 
    text-align: left;
    align-self: flex-start;
    color: #F8F9FA;
    font-weight: 500;
    padding-left: 25px;
    margin: 10px 0 0 0;
    line-height: 1.8;
}
.botao-buscar{
    background-color: rgba(0, 58, 112, 0.1);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 8px 15px;
}

#caixa-busca{
    background-color: rgba(0,0,0,0.3);
    font-family: 'Open Sans', sans-serif;
    width: 250px;
    color: white;
}

.txt-pesquisa{
    color: #F8F9FA;
}

#nome-pokemon{
    font-size: 45px;
}

.info-basica{
    text-align: left;
    width: 100%;
    align-self: flex-start;
    padding-left: 9px;
    font-weight: 500;
    margin: 10px 0 0 0 ;
    line-height: 1.8;
    color: #F8F9FA;
}

.tipo{
    text-align: left;
    width: 100%;
    align-self: flex-start;
    padding-left: 9px;
    font-weight: 500;
    margin: 10px 0 0 0 ;
    line-height: 1.8;
    color: #F8F9FA;    
}